<div class="bg-secondary">
  <div class="container">
<div class="card-deck">
  <div class="card mt-4 bg-secondary" style="border: 1px;">
    <div class="card-body">
      <h5 class="card-title" style="color: #FFFFFF;">Contacto</h5>
      <p class="card-text" style="color: #FFFFFF;">Dirección: Balderas 144, Centro,
        06070 Ciudad de México.</p>
      <p class="card-text"><small class="text" style="color: #FFFFFF;">Teléfono: 5722-9300</small></p>
    </div>
  </div>
  <div class="card mt-4 bg-secondary" style="border: 1px;">
    <div class="card-body">
      <h5 class="card-title" style="color: #FFFFFF;">CONCANACO</h5>
      <p class="card-text"><a href="https://www.concanaco.com.mx/historia/" style="color: #FFFFFF;">HISTORIA.</a></p>
      <p class="card-text"><a href="https://www.concanaco.com.mx/presidentes/" style="color: #FFFFFF;">EXPRESIDENTES.</a></p>
      <p class="card-text"><a href="https://www.concanaco.com.mx/estatutos/" style="color: #FFFFFF;">ESTATUTOS.</a></p>
      <p class="card-text"><a href="https://www.concanaco.com.mx/organismos-de-interes/" style="color: #FFFFFF;">SITIOS DE INTERÉS.</a></p>
    </div>
  </div>
  <div class="card mt-4 bg-secondary" style="border: 1px;">
    <div class="card-body">
      <h5 class="card-title" style="color: #FFFFFF;">ÚNETE</h5>
      <p class="card-text"><a href="https://www.concanaco.com.mx/wp-login.php?action=register" style="color: #FFFFFF; font-size: 15px;">REGÍSTRATE.</a></p>
      <p class="card-text"><a href="https://www.concanaco.com.mx/wp-login.php" style="color: #FFFFFF; font-size: 15px;">INGRESA.</a></p>
      <p class="card-text"><a href="https://www.flickr.com/photos/concanaco/albums" style="color: #FFFFFF; font-size: 15px;">GALERÍA MULTIMEDIA.</a></p>
      <p class="card-text"><a href="https://docs.google.com/forms/d/e/1FAIpQLScWVBEScbq8Dtrm41FWYGe8xQhvTB1vDEnDw_00cpwoFGBXoQ/viewform" style="color: #FFFFFF; font-size: 15px;">Contacto.</a></p>
    </div>
  </div>
  <div class="card mt-4 bg-secondary" style="border: 0ch;">
    <div class="card-body" style="width: 18rem;">
      <h5 class="card-title" style="color: #FFFFFF;">NOTAS DE INTERÉS</h5>
      <p class="card-text"><a href="https://www.concanaco.com.mx/salud-prioridad-en-la-organizacion-y-realizacion-de-el-buen-fin-2020-concanaco-servytur/" style="color: #FFFFFF; font-size: 12px; padding-top: 0px;">Salud, prioridad en la organización y realización de El Buen Fin 2020: Concanaco Servytur.</a></p><hr style="background: #FFFFFF;">
      <p class="card-text"><a href="https://www.concanaco.com.mx/inicia-el-registro-de-empresas-a-el-buen-fin-2020-que-se-realizara-del-9-al-20-de-noviembre/" style="color: #FFFFFF; font-size: 12px; padding-top: 0px;">Inicia el registro de empresas a El Buen Fin 2020 que se realizará del 9 al 20 de noviembre.</a></p><hr style="background: #FFFFFF;">
      <p class="card-text"><a href="https://www.concanaco.com.mx/el-peso-se-planta-frente-al-dolar-y-avanza/" style="color: #FFFFFF; font-size: 12px; padding-top: 0px;">El peso se ‘planta’ frente al dólar y avanza.</a></p><hr style="background: #FFFFFF;">
      <p class="card-text"><a href="https://www.concanaco.com.mx/aranceles-t-mec-buenas-practicas-y-tecnificacion-oportunidades-para-expandir-los-mercados-carnicos-mexicanos/" style="color: #FFFFFF; font-size: 12px; padding-top: 0px;">Aranceles, T – MEC, buenas prácticas y tecnificación; oportunidades para expandir los mercados cárnicos mexicanos.</a></p><hr style="background: #FFFFFF;">
      <p class="card-text"><a href="https://www.concanaco.com.mx/el-caribe-mexicano-recobra-el-aliento-con-40-mil-cuartos-abiertos/" style="color: #FFFFFF; font-size: 12px; padding-top: 0px;">El Caribe mexicano recobra el aliento con 40 mil cuartos abiertos.</a></p>
    </div>
  </div>
</div>
</div>
</div>
