<app-navbar-home></app-navbar-home>
<div class="container">
<div id="carouselExampleSlidesOnly" class="carousel slide" >
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="{{img}}" class="d-block w-100" height="300">
      </div>      
    </div>
  </div>
</div>
<hr>
<div class="container mt-5 mb-4">
    <div class="row row-cols-1 row-cols-md-2 text-center">
        <div class="col mb-4">
          <div class="card">
            <div class="card-body ">
              <h5 class="card-title">Misión</h5>
              <p class="card-text mb-3">La Universidad Veracruzana es una institución 
                  de educación superior, pública y autónoma, que desarrolla sus funciones 
                  de docencia, investigación, difusión y creación de la cultura y extensión
                   de los servicios universitarios en las diversas áreas del conocimiento 
                   en la ciencia y tecnología, el humanismo, las artes y la cultura con calidad, 
                   pertinencia, equidad, ética y en vinculación permanente con los diferentes 
                   sectores sociales para incidir en el desarrollo social del estado de Veracruz. 
                   Para ello realiza sus actividades con responsabilidad social, compromiso en la 
                   transparencia y rendición de cuentas; con políticas de desarrollo sustentable 
                   que contribuyan al logro de una sociedad más productiva, justa y segura.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Visión</h5>
              <p class="card-text">La Universidad Veracruzana es una institución pública de educación 
                  superior de calidad reconocida, socialmente responsable, innovadora, intercultural e 
                  incluyente, que contribuye al desarrollo sustentable regional, nacional e internacional, 
                  que se distingue por sus aportes en la formación integral de ciudadanos éticos y 
                  competentes en el ámbito local y global, en la transferencia de la ciencia y la tecnología, 
                  el respeto y la promoción de la cultura; así como por la vinculación efectiva con los sectores 
                  social y productivo. Promueve los compor­tamientos éticos, los derechos humanos, el arte y la 
                  creatividad, la salud integral, la equidad de género y el respecto a la diversidad cultural, 
                  para la formación a través de una gestión de calidad reconocida, en armonía con los principios 
                  de transparencia y rendición de cuentas.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Valores</h5>
              <p class="card-text">Realizamos todas las actividades con verdadera 
                  vocación y actitud positiva de servicio, aplicando valores como:</p>
              <div class="row mt-2">
                  <div class="col ml-5 text-left">
                    <li>Humildad</li>
                    <li>Ética</li>
                    <li>Honradez</li>
                    <li>Lealtad</li>
                    <li>Liderazgo</li>
                  </div>
                  <div class="col text-left">
                    <li>Disciplina</li>
                    <li>Liderazgo</li>
                    <li>Puntualidad</li>
                    <li>Responsabilidad</li>
                    <li>Respeto</li>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Objetivo</h5>
              <p class="card-text">Preservar los intereses de nuestros agremiados 
                  con una perspectova de mejora en la ejecución de sus actividades 
                  y ascenso en cuanto a la satisfacción de exigencias comerciales, 
                  coadyuvando en la resolución de las dificultades o inconvenientes 
                  que enfrentan los diferentes sectores comerciales .</p>
            </div>
          </div>
        </div>
      </div>
    
</div>

<app-footer-home></app-footer-home>