<app-navbar-home></app-navbar-home>
<div class="container">
  <h3 class="text-center mt-5">Registro de comercios</h3>
  <hr>
  <p class="font-weight-normal mt-2">A continuación ingrese los datos solicitados del nuevo comercio con el fin de afiliarlo</p>
</div>
<div class="container mt-4">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nombre del comercio</label>
        <input type="text" class="form-control" placeholder="Universidad Veracruzana">
      </div>
      <div class="form-group col-md-6">
        <label>Direccion</label>
        <input type="text" class="form-control" placeholder="Av. Veracruz">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>teléfono</label>
            <input type="text" class="form-control" placeholder="9211424613">
          </div>
      <div class="form-group col-md-6">
        <label>Correo electronico</label>
        <input type="email" class="form-control" placeholder="Universidad@uv.mx">
      </div>
      <div class="form-group col-md-6">
        <label>Responsable</label>
        <input type="text" class="form-control" placeholder="Vicerrector">
      </div>
      <div class="form-group col-md-6">
        <label>RFC</label>
        <input type="text" class="form-control" placeholder="UVE450101FM9">
      </div>
    </div>
    <div class="text-center mt-5">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
  </form>
</div>